h1{
    text-align: center;
}

.sub-title{
    text-align: center;
}

.cp-body{
    background-color: "f5f5f5";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 50px 75px 50px;
}

.nsnp-subtitle{
    text-align: center;
    font-style: italic;
}

.backlink{
    margin-top: 25px;
}

.main-link{
    font-size: small;
}

.column {
    float: left;
    width: 50%;
    /*margin-top:0px;*/
}

.row {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    /*margin-top:0px;*/
}

.cp-label {
    margin-bottom: 0px;
}